<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Gori.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/StyleIST.css" type="text/css" />
    <link href="~/Content/responsive-tables.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>

    <!-- Document Title
    ============================================= -->
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .content-wrap {
            padding-top: 30px !important;
        }

        #footer .footer-widgets-wrap {
            padding: 20px 0 !important;
        }
    </style>

</head>
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
        ============================================= -->
        <header id="header" class="full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                ============================================= -->
                    <div id="logo">
                        <a href="~/" class="standard-logo" data-dark-logo="/images/gorilogo.png"><img src="/images/gorilogo.png" alt="GORI Logo"></a>
                        <a href="~/" class="retina-logo" data-dark-logo="/images/gorilogo.png"><img src="/images/gorilogo.png" alt="GORI Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                ============================================= -->
                    <nav id="primary-menu" class="style-5">

                        <ul>
                            <li>
                                <a href="~/"><div><i class="icon-home2"></i>Giriş</div></a>

                            </li>
                            <li>
                                <a href="~/Dyrup/Index"><div><i class="icon-home2"></i>Hakkımızda</div></a>
                                <ul>
                                    <li>
                                        <a href="~/Dyrup/Index#Dyrup" onclick="redirectToDyrup(this);"><div><i class="icon-stack"></i>The History of Dyrup</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#GroupProfile"><div><i class="icon-gift"></i>Group Profile</div></a>
                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#OurMission"><div><i class="icon-gift"></i>Our mission</div></a>
                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#DIYMarket"><div><i class="icon-umbrella"></i>The DIY market</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#ProfessionalMarket"><div><i class="icon-line-layout"></i>The Professional Market</div></a>
                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#LocalPresence"><div><i class="icon-align-justify2"></i>Local Presence</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#PrivacyPolicy"><div><i class="icon-ok-sign"></i>Privacy Policy</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Dyrup/Index#Disclaimer"><div><i class="icon-envelope-alt"></i>Disclaimer</div></a>

                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="~/Products/GORI22"><div><i class="icon-beaker"></i>Ürünler</div></a>
                                <ul>
                                    <li>
                                        <a href="~/Products/GORI22"><div><i class="icon-stack"></i>GORI 22</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Products/GORI36"><div><i class="icon-gift"></i>GORI 36</div></a>
                                    </li>
                                    <li>
                                        <a href="~/Products/GORI37"><div><i class="icon-gift"></i>GORI 37</div></a>
                                    </li>
                                    <li>
                                        <a href="~/Products/GORI38"><div><i class="icon-umbrella"></i>GORI 38</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Products/GORI51"><div><i class="icon-line-layout"></i>GORI 51</div></a>
                                    </li>
                                    <li>
                                        <a href="~/Products/GORI57"><div><i class="icon-align-justify2"></i>GORI 57</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Products/GORI44Plus"><div><i class="icon-ok-sign"></i>GORI 44+</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Products/GORI44"><div><i class="icon-envelope-alt"></i>GORI 44</div></a>

                                    </li>
                                    <li>
                                        <a href="~/Products/GORI79"><div><i class="icon-time"></i>GORI 79</div></a>

                                    </li>
                                    <li><a href="~/Products/GORI88"><div><i class="icon-adjust"></i>GORI 88</div></a></li>
                                    <li>
                                        <a href="~/Products/GORI91"><div><i class="icon-calendar3"></i>GORI 91</div></a>

                                    </li>

                                </ul>
                            </li>
                            <li class="mega-menu">
                                <a href="#"><div><i class="icon-file-alt"></i>GORI Avantajı</div></a>

                            </li>
                            <li class="mega-menu">
                                <a href="#"><div><i class="icon-briefcase"></i>Tarihçe</div></a>

                            </li>
                            <li class="mega-menu">
                                <a href="#"><div><i class="icon-pencil2"></i>Refaranslar</div></a>

                            </li>
                            <li>
                                <a href="shop.html"><div><i class="icon-bag"></i>Satış Noktaları</div></a>

                            </li>
                            <li class="mega-menu">
                                <a href="#"><div><i class="icon-code"></i>İletişim</div></a>

                            </li>
                        </ul>


                    </nav><!-- #primary-menu end -->

                </div>

            </div>

        </header>
        <!-- #header end -->
        @RenderBody()

        <!-- Footer
            ============================================= -->
        <footer id="footer" class="dark">

            <!-- Copyrights
        ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <img src="/images/footer-logo.png" alt="" class="footer-logo">

                        Copyrights  &copy; 2015 Tüm Haklar Saklıdır San Martin Dış. Tic. Ltd.
                    </div>

                    <div class="col_half col_last tright">
                        <div class="copyrights-menu copyright-links fright clearfix">
                            <a href="#">Home</a>/<a href="#">About</a>/<a href="#">Features</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/<a href="#">Contact</a>
                        </div>
                        <div class="fright clearfix">
                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
                                <i class="icon-vimeo"></i>
                                <i class="icon-vimeo"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
                                <i class="icon-yahoo"></i>
                                <i class="icon-yahoo"></i>
                            </a>

                            <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>

                            <a href="mailto:bilgi@gori-turkiye.com" class="social-icon si-small si-borderless nobottommargin si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>

                            <a href="tel:+90 212 355 8961" class="social-icon si-small si-borderless nobottommargin si-ebay">
                                <i class="icon-phone3"></i>
                                <i class="icon-phone3"></i>
                            </a>




                        </div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer>
        <!-- #footer end -->

    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
        ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- Footer Scripts
        ============================================= -->
    <script type="text/javascript" src="~/js/functions.js"></script>
    <script src="~/Scripts/responsive-tables.js"></script>
    <script type="text/javascript">
        $("#widget-subscribe-form").validate({
            submitHandler: function (form) {
                $(form).find('.input-group-addon').find('.icon-email2').removeClass('icon-email2').addClass('icon-line-loader icon-spin');
                $(form).ajaxSubmit({
                    target: '#widget-subscribe-form-result',
                    success: function () {
                        $(form).find('.input-group-addon').find('.icon-line-loader').removeClass('icon-line-loader icon-spin').addClass('icon-email2');
                        $('#widget-subscribe-form').find('.form-control').val('');
                        $('#widget-subscribe-form-result').attr('data-notify-msg', $('#widget-subscribe-form-result').html()).html('');
                        SEMICOLON.widget.notifications($('#widget-subscribe-form-result'));
                    }
                });
            }
        });
    </script>

</body>
</html>
