@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dyrup - The History of Dyrup";
}


<!-- Content
            ============================================= -->

<section id="page-title">

    <div class="container clearfix">
        <h1>Dyrup</h1>
        <span></span>
    </div>

</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="postcontent nobottommargin col_last  col-md-10 clearfix">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>The DIY market</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup’s customers in the DIY market are paint shops and builders’ merchants, focusing on quality paint products and wood stain, the majority of customers are private end users.
                            <br/>
                            <br/>
                            The relative size of the DIY markets varies greatly in Dyrup’s markets. In Denmark, Germany and France there is a tradition for DIY, providing a large market. The market for DIY in Spain and Portugal is smaller, albeit growing.
                            <br />
                            <br />
                            In 2007, 43% of the Dyrup Group’s revenue was sold to the DIY market. The size of the overall DIY market is judged to be stable. The DIY market will continue to be a strategic focus area for Dyrup in the future. Competition among Dyrup’s customers in the DIY market is expected to remain intense, accentuating the need for strong brands and innovative products and concepts based on the end users’ needs.
                            <br />
                            <br />
                            In 2009, Dyrup will continue its intensified marketing and roll-out of innovative products, marketing a whole new line of wood care products in collaboration with DuPont™ containing Teflon®. Also, to intensify Dyrups competing ability on the DIY market, Dyrup has made a whole new strategic approach to the costumers, we call it "Easy to Choose, Easy to Use". 
                        </p>
                    </div>
                </div>
            </div>
            <!-- .postcontent end -->
            <!-- Sidebar
            ============================================= -->
            @Html.Partial("~/Views/Shared/_DyrupSidebar.cshtml")
            <!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->