@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dyrup - The History of Dyrup";
}


<!-- Content
            ============================================= -->

<section id="page-title">

    <div class="container clearfix">
        <h1>Dyrup</h1>
        <span></span>
    </div>

</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="postcontent nobottommargin col_last  col-md-10 clearfix">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>Group Profile</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <h4>Strong brands and a broad range of quality products in paints and wood care made up the Dyrup Group’s core business in the European market.</h4>
                        <p>
                            In January 2012 Dyrup became a part of PPG Industries:
                            <br/>
                            <br/>
                            PPG Industries' vision is to continue to be the world’s leading coatings and specialty products company. Through leadership in innovation, sustainability and color, PPG helps customers in industrial, transportation, consumer products, and construction markets and aftermarkets to enhance more surfaces in more ways than does any other company. Founded in 1883, PPG has global headquarters in Pittsburgh and operates in nearly 70 countries around the world. Sales in 2012 were $15.2 billion. PPG shares are traded on the New York Stock Exchange (symbol:PPG). For more information, visit <a href="http://www.ppg.com" target="_blank">www.ppg.com</a>.
                            <br />
                            <br />
                            Dyrup manufactures and markets products sold via two primary sales channels:
                            <br />
                            <br />
                            - the DIY market, consisting mainly of paint retailers and builders’ merchants
                            <br />
                            - the professional market (PRO), consisting of wholesalers and professional decorators
                            <br />
                            <br />
                            The DIY market accounted for 52% of revenue in 2009 and the PRO market for 48%. The principal geographical markets are Denmark, France, Germany, Poland and the Iberian Peninsula. These markets account for just approx. 90% of revenue. The remaining revenue comes from other European markets and markets in Asia and Africa, in which Dyrup markets its products through own companies or distributors.
                            <br />
                            <br />
                            Dyrup’s market positions in wood care are particularly strong in Denmark, France and Germany. In paints, Dyrup holds strong positions in Denmark and Portugal, but is continuing its intensive efforts to build up an even stronger profile within paint products.
                            <br />
                            <br />
                            Dyrup’s products are divided into three main groups which are paints, wood care and specialist products. The latter include fillers, damp-proofing products, tools and other paint-related products for professional decorators. Wood care products account for 50% of Dyrup’s revenue. Paint products make up 30%, and specialist products account for the rest. Dyrup places great emphasis on selling products that complement each other, enabling it to offer customers and end users complete solutions.
                            <br />
                            <br />
                            Revenue comes predominantly from own production at Dyrup’s plants in Denmark, France, Poland and the Iberian Peninsula. Bought-in products, primarily consisting of specialist products, make up a small proportion of revenue. Strong brands and product concepts are vital elements of Dyrup’s strategy, with the strategic brands Dyrup, Bondex, GORI and Xylophene accounting for 80% of revenue.
                        </p>
                    </div>
                </div>
            

            </div>
            <!-- .postcontent end -->
            <!-- Sidebar
            ============================================= -->
            @Html.Partial("~/Views/Shared/_DyrupSidebar.cshtml")
            <!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->