@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dyrup - The History of Dyrup";
}


<!-- Content
            ============================================= -->

<section id="page-title">

    <div class="container clearfix">
        <h1>Dyrup</h1>
        <span></span>
    </div>

</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="postcontent nobottommargin col_last  col-md-10 clearfix">
                <div class="row">
                    @Html.Partial("~/Views/Shared/_PrintButton.cshtml")
                    <h2>The History of Dyrup</h2>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <p>
                            In 2008 Dyrup celebrated its’ 80th Birthday. We are happy and proud to announce that we have been able to produce quality paint and wood stain products for 85 years now. For this special occasion, Gert K, Thomsen former director of R&D, recounts his beloved old workplace’s history, he has granted us permission to use his story, here at our new website. We would like to thank Gert for his great work.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Gert_K_Thomsen.jpg" />
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup was Founded in 1928. During world war one in 1917, the young engineer Sigurd Dyrup was sent to the U.S.A by his employer, he was sent there to obtain raw material and study the production of paint and lacquer. However the submarine blockade prevented him from making the journey back to Denmark, which made him apply for a job in the American color-industry, the young Dyrup soon advanced to vice president at Cook Paint & Varnish Co. in Kansas City.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Klintevej_1928.jpg" />
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            However Sigurd Dyrup longed for his home country and wanted to bring his skills to use there. In 1924 he returned to Denmark where he and two of his old classmates - Axel Monberg & Ejnar Thorsen, bought a small factory. S. Dyrup & Co A/S was established January 2nd 1928.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/Riveri_Broenshoej_1932.jpg" />
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup during the 30's. In the U.S.A Sigurd Dyrup had gained groundbreaking knowledge about the latest movements in the development of rust protection, he used this knowledge to develop the innovative product STÅLHUD and introduced it to the Danish market. By 1932 Dyrup became the sole supplier of rust protection for a huge bridge building project called Lillebæltsbroen, and Dyrup had to expand.
                            <br/>
                            <br/>
                            In 1934 Dyrup bought 120.000 m² of land and built the factory, which is still the main factory in Denmark.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/Medarbejdere_Broenshoej_1931.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup During World War ll. In 1940 Denmark was occupied by Germany, and there was a great shortage of the required raw material in Denmark. The situation called for innovative solutions, and many chemical solvents had to be replaced with water, little did Dyrup know that this change would benefit their production of environmentally friendly products in the future.
                            <br/>
                            <br/>
                            The Post War Years. When the borders were reopened in 1945, Dyrup was ready to meet new challenges, and that was exactly what Dyrup got - a true export adventure began. The opportunity to build new factories abroad suddenly unfolded, and in 1947 the first Dyrup factory abroad was a reality. Sadly, after many good and hectic years in the business, Sigurd Dyrup became very ill and died in 1949.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Sigurd_Dyrup.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            Dyrup during the 50s and 60’s. Already in the 1950’s, long before environment issues became a concern of the general public, Dyrup introduced ‘Dyroton’ acrylic paint based on water. In 1958 Dyrup made its first acrylic paint for facades, and followed up in 1968 by making the first water based glossy paint in Europe. The consumption of organic solvents rapidly decreased, and the use of lead in any products was completely eliminated. 
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/Aabne_gryder_1933.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            After introducing the market to these, more environmentally friendly products. Dyrup became interested in developing even more environmentally friendly products for the consumers.
                            <br />
                            <br />
                            This interest resulted in what we call 0% paint, or paint that is almost 100% free of any dangerous chemicals. All of a sudden it was no longer a problem to paint the children’s rooms.
                            <br />
                            <br />
                            Dyrup during the 70s and the 80s – the Wood Stain Fairytale. Wood stain used to be associated with dangerous chemicals, which could only be used by the industry. In 1969 Dyrup introduced a product that was to revolutionize the wood stain and varnish market: BONDEX.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/dk_image_Saa_skal_der_males.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            The original Bondex was a product for treatment of surfaces, devloped in transparent colors; teak, mahogany, and much more. After just a few years on the market, the new product was a giant success, one year France alone sold as much as 5 million liters. Not one single product has meant as much for Dyrup as Bondex.
                            <br />
                            <br />
                            Dyrup During the 90's. During the 90s there was a change of direction; the industry was not doing well, which resulted in a greater focus on other markets in Europe. In the new millennium, Dyrup continues to increase its competencies, and expertise within specialty products, that meets the costumer’s needs. Especially environmentally friendly products.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/popart.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            I 2009 Dyrup sold our industrial activities and bought the Danish company Hygæa A/S as an important element in the new strategy for Dyrup - Fresh Start - where we grow organicly and through acquisitions in our core activities within DIY and PRO.
                            <br />
                            <br />
                            In 2010 Dyrup bought the Polish company Malfarb to strenghten our position in the Eastern parts of Europe and to broaden our product range further.
                            <br />
                            <br />
                            Today Dyrup is represented by our own subsidiaries in Denmark, France, Poland, Portugal, Spain, Germany and Austria.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/striber.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            In January 2012 – PPG Industries completed the purchase of Dyrup from its owner, Monberg & Thorsen, a public holding company. The final transaction value, including assumed debt, was €115 million ($150 million), subject to customary post-closing adjustments and Dyrup is now a part of PPG Architectual Coatings EMEA. PPG Industries' reported net sales in 2013 were $15.1 billion.
                        </p>
                    </div>
                    <div class="col-md-2">
                        <img src="/images/dyrup/PPG logo-hist.jpg" />
                    </div>
                </div>

            </div>
            <!-- .postcontent end -->
            <!-- Sidebar
            ============================================= -->
            @Html.Partial("~/Views/Shared/_DyrupSidebar.cshtml")
            <!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->