@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 91";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori91">

    <div class="container clearfix">
        <h1 class="GoriHeader">GORI 91</h1>
        <!--<ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">GORI 91</li>
        </ol>-->
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap" style="padding-top:80px !important">

        <div class="container clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_two_fifth">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        <div class="slide">
                                            <a href="/images/products/canGori91.jpg" title="GORI 91" data-lightbox="gallery-item">
                                                <img src="/images/products/canGori91.jpg" alt="GORI 91">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_two_fifth product-desc">

                        <!-- Product Single - Short Description
                        ============================================= -->
                        <p>
                            GORI 91 Opaque Wood Stain is an opaque, water based
                            wood protection for both outdoor and indoor use. A bonding
                            agent with improved formula ensures stronger bonding of
                            paint with base and far greater elasticity. The product forms
                            an opaque, hard-wearing elastic fi lm on all interior and
                            exterior surfaces.
                        </p>
                        <p style="margin-bottom:10px !important;">Recommended to use on:</p>
                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> Pre-treated wood</li>
                            <li><i class="icon-caret-right"></i> Aluminium</li>
                            <li><i class="icon-caret-right"></i> Galvanised</li>
                            <li><i class="icon-caret-right"></i> Primed steel surfaces</li>
                        </ul>
                        <!-- Product Single - Meta
    ============================================= -->
                        <div class="panel panel-default product-meta">
                            <div class="panel-body">
                                Recommended system: Untreated softwood exterior: 1 x GORI 11 or GORI + 2 x GORI 91.
Hardwood exterior: 2 x GORI 91. Interior: 2 x GORI 91
                            </div>
                        </div>
                        <!-- Product Single - Meta End -->
                        <!-- Product Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Share:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                        </div><!-- Product Single - Share End -->

                    </div>

                    <div class="col_one_fifth col_last">

                        <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                        <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-map"></i>
                            </div>
                            <h3>Application Areas</h3>
                            <p class="notopmargin">
                                All outdoor and indoor wood surfaces
                                Also suitable for coating pre-treated aluminum, galvanised and primed steel surfaces and UPVC surfaces
                                Safe for use on childrens toys (EN71 Part 3 tested)
                            </p>
                        </div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-magic"></i>
                            </div>
                            <h3>Product advantages</h3>
                            <p class="notopmargin">
                                Forms an opaque, hard-wearing elastic film
                                Highly opaque - ideal for bold colourchanges
                                Weatherproof for up to 12 years
                                Product advantages 4
                            </p>
                        </div>
                    </div>

                    <div class="col_full nobottommargin">

                        <div class="tabs clearfix nobottommargin" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Product İnformation</span></a></li>
                                <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Substrate preparation:</span></a></li>
                                <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Colors</span></a></li>
                                <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> More</span></a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/waterbased.jpg" class="icon" alt="" width="48" height="50">
                                            Waterbased
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                                            Coverage: 10-12 m<sup>2</sup>
                                        </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/Recoatable1.jpg" class="icon" alt="" width="48" height="50">
                                            Touch dry in app. 1 hour
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/outdoor.jpg" class="icon" alt="" width="48" height="50">
                                            Suitable for both indoor and outdoor use
                                        </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/DryingTime72.jpg" class="icon" alt="" width="48" height="50">
                                            Weather proof for up to 12 years
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                                            Can Sizes: 0,75 L - 2.50 L
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <p>
                                        Apply on dry, clean wood free from dust, fats, old paint, etc. Apply on all sides of the
                                        wood, as well as sections and ends.
                                    </p>
                                </div>
                                <div class="tab-content clearfix" id="tabs-3">
                                    <p>
                                        0000 Jet Black • 2000 Silver Grey • 3000 Corn Yellow • 4000 Sky Blue
                                        5000 Emerald Green • 7000 Brick Red • 8000 Snow White
                                        All GORI wood protection products can be tinted in an endless number of shades.
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

