@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 51";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori51">

    <div class="container clearfix">
        <h1 class="GoriHeader">GORI 51 Yüksek Trafik Parke Cilazı SB</h1>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap" style="padding-top:80px !important">

        <div class="container clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_two_fifth">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        <div class="slide">
                                            <a href="/images/products/canGori51.png" title="GORI 51" data-lightbox="gallery-item">
                                                <img src="/images/products/canGori51.png" alt="GORI 51">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_two_fifth product-desc">

                        <!-- Product Single - Short Description
                        ============================================= -->
                        <p>
                            GORI 51 Yüksek Trafik Su Bazlı Parke Cilası, ahşap zeminler
                            ve tırabzan ve merdiven gibi tüm diğer iç mekan ahşaplar için
                            şeffaf, su bazlı (akrilik-poliüretan) iç mekan verniğidir.
                        </p>
                        <p style="margin-bottom:10px !important;">Önerilen kullanım alanları:</p>
                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> İç mekan zeminler</li>
                            <li><i class="icon-caret-right"></i> Merdivenler</li>
                            <li><i class="icon-caret-right"></i> Tırabzanlar</li>
                            <li><i class="icon-caret-right"></i> Paneller </li>
                            <li><i class="icon-caret-right"></i> Mantar Zeminde</li>
                        </ul>
                        <!-- Product Single - Meta
    ============================================= -->
                        <div class="panel panel-default product-meta">
                            <div class="panel-body">
                                Önerilen sistem: 3 x GORI 51
                            </div>
                        </div>
                        <!-- Product Single - Meta End -->
                        <!-- Product Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Paylas:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                        </div><!-- Product Single - Share End -->

                    </div>

                    <div class="col_one_fifth col_last">

                        <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                        <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-map"></i>
                            </div>
                            <h3>Application Areas</h3>
                            <p class="notopmargin">
                                Wooden floors
                                Cork Floors
                                Stairs
                                Handrails
                            </p>
                        </div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-magic"></i>
                            </div>
                            <h3>Product advantages</h3>
                            <p class="notopmargin">
                                Very durable finish for wooden flooring, stairs and handrails
                                Touch dry in 25 minutes - 3 coats in 1 day
                                Low odour - Hard wearing
                                Available with hardener for extreme durability
                            </p>
                        </div>
                    </div>

                    <div class="col_full nobottommargin">

                        <div class="tabs clearfix nobottommargin" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Ürün Bilgisi</span></a></li>
                                <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Zemin hazırlığı</span></a></li>
                                <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Renkler</span></a></li>
                                <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> Standartlar</span></a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/waterbased.jpg" class="icon" alt="" width="48" height="50">
                                            Waterbased
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/repelent.jpg" class="icon" alt="" width="48" height="50">
                                            Dirt repellent and abrasion resistant
                                        </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/hardwearing.jpg" class="icon" alt="" width="48" height="50">
                                            Hard wearing
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/BrushOrRoller.jpg" class="icon" alt="" width="48" height="50">
                                            Apply with brush or roller
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/DryingTimes25.jpg" class="icon" alt="" width="48" height="50">
                                            Touch dry in 25 minutes
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                                            10m<sup>2</sup>/l depending on substrate
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                                            Available sizes: 5.00 L - 10.00 L
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <p>
                                        Tozdan, yağlardan ve eski boyadan vs. arındırılmış temiz ve kuru ahşaba uygulayın.<br/>
                                        Ahşabın her bir yüzünün yanı sıra, bölümlerine ve uçlarına uygulayın.
                                    </p>
                                </div>
                                <div class="tab-content clearfix" id="tabs-3">
                                    <p>
                                        020 Mat ● 050 Yarı Parlak ● 090 Çok Parlak
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

