@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 79";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori79">

    <div class="container clearfix">
        <h1 class="GoriHeader">GORI 79 Su Bazlı Ekstrem UV Koruma</h1>
        <!--<ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">GORI 79</li>
        </ol>-->
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="single-product">

                        <div class="product">

                            <div class="col_two_fifth">

                                <!-- Product Single - Gallery
                                    ============================================= -->
                                <div class="product-image">
                                    <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                        <div class="flexslider">
                                            <div class="slider-wrap" data-lightbox="gallery">
                                                <div class="slide">
                                                    <a href="/images/products/canGori79.png" title="GORI 79" data-lightbox="gallery-item">
                                                        <img src="/images/products/canGori79.png" alt="GORI 79">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Product Single - Gallery End -->

                            </div>

                            <div class="col_two_fifth product-desc">

                                <!-- Product Single - Short Description
                                    ============================================= -->
                                <p>
                                    GORI 79, güneşin UV ışınlarına ekstra koruma sağlayan su
                                    bazlı, şeffaf ahşap boyasıdır.<br/>
                                    <i>
                                        Lütfen Dikkat Ediniz! GORI 79’un yatay yüzeylerde kullanılması
                                        önerilmez.
                                    </i>
                                </p>
                                <p style="margin-bottom:10px !important;">Önerilen kullanım alanları:</p>
                                <ul class="iconlist">
                                    <li><i class="icon-caret-right"></i> Kapılar</li>
                                    <li><i class="icon-caret-right"></i> Pencereler,</li>
                                    <li><i class="icon-caret-right"></i> Ahşap çitler,</li>
                                    <li><i class="icon-caret-right"></i> Kirişler,</li>
                                    <li><i class="icon-caret-right"></i> Paneller gibi</li>
                                </ul>
                                <!-- Product Single - Meta
                                    ============================================= -->
                                <div class="panel panel-default product-meta">
                                        <div class="panel-body">
                                            Önerilen sistem: 1 x GORI 11 veya GORI 22 + 3 x GORI 79 (film kalınlığı en az 75 mikron
                                            olmalıdır).
                                        </div>
                                    </div>
                                <!-- Product Single - Meta End -->
                                <!-- Product Single - Share
                                    ============================================= -->
                                <div class="si-share noborder clearfix">
                                    <span>Paylas:</span>
                                    <div>
                                        <a href="#" class="social-icon si-borderless si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-pinterest">
                                            <i class="icon-pinterest"></i>
                                            <i class="icon-pinterest"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-rss">
                                            <i class="icon-rss"></i>
                                            <i class="icon-rss"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-email3">
                                            <i class="icon-email3"></i>
                                            <i class="icon-email3"></i>
                                        </a>
                                    </div>
                                </div><!-- Product Single - Share End -->

                            </div>

                            <div class="col_one_fifth col_last">

                                <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                                <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                                <!--<div class="feature-box fbox-plain fbox-dark fbox-small">
            <div class="fbox-icon">
                <i class="icon-map"></i>
            </div>
            <h3>Application Areas</h3>
            <p class="notopmargin">
                Facades and fascias
                Beams and panelling
                Fences and pergolas
                Frames
            </p>
        </div>

        <div class="feature-box fbox-plain fbox-dark fbox-small">
            <div class="fbox-icon">
                <i class="icon-magic"></i>
            </div>
            <h3>Product advantages</h3>
            <p class="notopmargin">
                Protects against surface alteration agents such as surface fungi and blue stain
                High penetration
                Water repellent
                Will not crack or peel of
            </p>
        </div>-->
                            </div>

                            <div class="col_full nobottommargin">

                                <div class="tabs clearfix nobottommargin" id="tab-1">

                                    <ul class="tab-nav clearfix">
                                        @*<li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Ürün Bilgisi</span></a></li>*@
                                        <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Zemin hazırlığı</span></a></li>
                                        <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Renkler</span></a></li>
                                        <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> Standartlar</span></a></li>
                                    </ul>

                                    <div class="tab-container">

                                        <!--<div class="tab-content clearfix" id="tabs-1">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/products/fungicide.jpg" class="icon" alt="" width="48" height="50">
                            Contains fungicide
                        </div>
                        <div class="col-md-5">
                            <img src="images/products/insecticide.jpg" class="icon" alt="" width="48" height="50">
                            Contains insecticide
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/products/ExcellentPenetration.jpg" class="icon" alt="" width="48" height="50">
                            Excellent penetration
                        </div>
                        <div class="col-md-5">
                            <img src="images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                            10-12 m<sup>2</sup>/l
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/products/DryingTime48.jpg" class="icon" alt="" width="48" height="50">
                            Drying Time: 48 hours
                        </div>
                        <div class="col-md-5">
                            <img src="images/products/Recoatable12-24.jpg" class="icon" alt="" width="48" height="50">
                            Recoatable: 12-24 hours
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/products/ApplyByRoller.jpg" class="icon" alt="" width="48" height="50">
                            Apply with brush, roller, spray or immersion method.
                        </div>
                        <div class="col-md-5">
                            <img src="images/products/CleanTools.jpg" class="icon" alt="" width="48" height="50">
                            Clean tools with white spirit
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                            Can Sizes: 0.75 L - 2.50 L - 5.00 L - 20.00 L
                        </div>
                    </div>
                </div>-->
                                        <div class="tab-content clearfix" id="tabs-2">
                                            <p>
                                                Tozdan, yağlardan ve eski boyadan vs. arındırılmış temiz ve kuru ahşaba uygulayın.<br/>
                                                Ahşabın her bir yüzünün yanı sıra, tüm bölümlerine ve uçlarına uygulayın.
                                            </p>
                                        </div>
                                        <div class="tab-content clearfix" id="tabs-3">
                                            <p>
                                                9900 Şeffaf
                                            </p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

