@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 88";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori88">

    <div class="container clearfix">
        <h1 class="Gori88Header">GORI 88 Saten Ahşap Boyası</h1>
        <!--<ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">GORI 88</li>
        </ol>-->
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap" style="padding-top:80px !important">

        <div class="container clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_two_fifth">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        <div class="slide">
                                            <a href="images/products/canGori88.png" title="GORI 88" data-lightbox="gallery-item">
                                                <img src="/images/products/canGori88.png" alt="GORI 88">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_two_fifth product-desc">

                        <!-- Product Single - Short Description
                        ============================================= -->
                        <p>
                            GORI 88, yüzey küfü önleyici özelliklere sahip, parlak görünümlü,
                            yarı şeffaf, solvent bazlı bir ahşap boyasıdır. GORI 88,
                            alkit reçine esaslıdır. Damlamayı minimize eden tiksotropik
                            formülasyonu sayesinde GORI 88’in uygulanması son derece
                            kolaydır.
                        </p>
                        <p style="margin-bottom:10px !important;">Recommended to use on:</p>
                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> Pencerelerin,</li>
                            <li><i class="icon-caret-right"></i> Kapıların</li>
                            @*<li><i class="icon-caret-right"></i> Facades</li>*@
                        </ul>
                        <!-- Product Single - Meta
                        ============================================= -->
                        <div class="panel panel-default product-meta">
                            <div class="panel-body">
                                Önerilen sistem: 1 x GORI 22 + 1 x GORI 44 + 2 x GORI 88 (ya da 1 x GORI 44 yerine 3 x
                                GORI 88 uygulayın)
                            </div>
                        </div>
                        <!-- Product Single - Meta End -->
                        <!-- Product Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Paylas:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                        </div><!-- Product Single - Share End -->

                    </div>

                    <div class="col_one_fifth col_last">

                        <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                        <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-map"></i>
                            </div>
                            <h3>Application Areas</h3>
                            <p class="notopmargin">
                                Windows and doors outside
                                Wooden surfaces
                                Materials derived from wood
                            </p>
                        </div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-magic"></i>
                            </div>
                            <h3>Product advantages</h3>
                            <p class="notopmargin">
                                Protects against surface alteration agents such as surface fungi and blue stain
                                High penetration
                                Water repellent
                                Will not crack or peel of
                            </p>
                        </div>
                    </div>

                    <div class="col_full nobottommargin">

                        <div class="tabs clearfix nobottommargin" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Ürün Bilgisi</span></a></li>
                                <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Zemin hazırlığı</span></a></li>
                                <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Renkler</span></a></li>
                                <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> Standartlar</span></a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/fungicide.jpg" class="icon" alt="" width="48" height="50">
                                            Contains fungicide
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/insecticide.jpg" class="icon" alt="" width="48" height="50">
                                            Contains insecticide
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/ExcellentPenetration.jpg" class="icon" alt="" width="48" height="50">
                                            Excellent penetration
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                                            10-12 m<sup>2</sup>/l
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/DryingTime48.jpg" class="icon" alt="" width="48" height="50">
                                            Drying Time: 48 hours
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/Recoatable12-24.jpg" class="icon" alt="" width="48" height="50">
                                            Recoatable: 12-24 hours
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/ApplyByRoller.jpg" class="icon" alt="" width="48" height="50">
                                            Apply with brush, roller, spray or immersion method.
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/CleanTools.jpg" class="icon" alt="" width="48" height="50">
                                            Clean tools with white spirit
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                                            Can Sizes: 0.75 L - 2.50 L - 5.00 L
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <p>
                                        Tozdan, yağlardan ve eski boyadan vs. arındırılmış temiz ve kuru ahşaba uygulayın.<br/>
                                        Ahşabın her bir yüzünün yanı sıra, tüm bölümlerine ve uçlarına uygulayın.
                                    </p>
                                </div>
                                <div class="tab-content clearfix" id="tabs-3">
                                    <p>
                                        7801 Brezilya Çamı ● 7802 Çam ● 7803 Douglas Çamı ● 7804 Tik ● 7805 Meşe<br/>
                                        7806 Kestane ● 7808 Ceviz ● 7809 Kızılçam ● 7810 Palisander ● 7812 Akaju (Maun)<br />
                                        7813 İroko ● 7814 Antik Meşe ● 7815 Açık Meşe ● 9900 Şeffaf<br />
                                        Tüm GORI ahşap koruma ürünleri sonsuz sayıda tona açılabilir.
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

