@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 38";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori38">

    <div class="container clearfix">
        <h1 class="GoriHeader">GORI 38</h1>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap" style="padding-top:80px !important">

        <div class="container clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_two_fifth">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        <div class="slide">
                                            <a href="/images/products/canGori38.png" title="GORI 38" data-lightbox="gallery-item">
                                                <img src="/images/products/canGori38.png" alt="GORI 38">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_two_fifth product-desc">

                        <!-- Product Single - Short Description
                        ============================================= -->
                        <p>
                            GORI 38 Decking Oil is a matt, solvent based, water
                            repellent oil for outdoor wooden decks. GORI 38 is based
                            on special long alkyd oil resins in solvent phase.
                            Enhances the wood grain. High penetration.
                        </p>
                        <p style="margin-bottom:10px !important;">Recommended to use on:</p>
                        Outdoor wooden decks – all kinds of wood incl.
                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> Teak</li>
                            <li><i class="icon-caret-right"></i> Tyatoh</li>
                            <li><i class="icon-caret-right"></i> Bangkirai</li>
                            <li><i class="icon-caret-right"></i> Meranti</li>
                            <li><i class="icon-caret-right"></i> Ipe</li>
                            <li><i class="icon-caret-right"></i> and also pressure impregnated wood.</li>
                        </ul>
                        <!-- Product Single - Meta
    ============================================= -->
                        <div class="panel panel-default product-meta">
                            <div class="panel-body">
                                Recommended system: 2 x GORI 38 Decking Oil
                            </div>
                        </div>
                        <!-- Product Single - Meta End -->
                        <!-- Product Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Share:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                        </div><!-- Product Single - Share End -->

                    </div>

                    <div class="col_one_fifth col_last">

                        <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                        <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-map"></i>
                            </div>
                            <h3>Application Areas</h3>
                            <p class="notopmargin">
                                GORI 38 Decking Oil is suitable for all kinds of wood incl. exotic wood species
                                GORI 38 Decking Oil protects the wooden surface against algae and mould
                            </p>
                        </div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-magic"></i>
                            </div>
                            <h3>Product advantages</h3>
                            <p class="notopmargin">
                                Enhances the wood grain
                                Resists water and alcohol
                                Recovers wood's natural balance
                            </p>
                        </div>
                    </div>

                    <div class="col_full nobottommargin">

                        <div class="tabs clearfix nobottommargin" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Product İnformation</span></a></li>
                                <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Substrate preparation:</span></a></li>
                                <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Colors</span></a></li>
                                <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> More</span></a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                   <div class="row rowWithBottomMargin">
                                       <div class="col-md-5">
                                           <img src="/images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                                           Coverage: 10-16 m<sup>2</sup>
                                       </div>
                                       <div class="col-md-5">
                                           <img src="/images/products/hardwearing.jpg" class="icon" alt="" width="48" height="50">
                                           Hard Wearing
                                       </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                                            Can Sizes: 5.00 L - 20.00 L
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <p>
                                        Apply on dry, clean wood free from dust, fats, old paint, etc. Apply on all sides of the
                                        wood, as well as sections and ends.
                                    </p>
                                </div>
                                <div class="tab-content clearfix" id="tabs-3">
                                    @*<p>
                                        7804 Teak • 7805 Oak • 7808 Walnut • 7810 Palisander • 9900 Clear
                                    </p>*@

                                    <h4>Related Projects:</h4>

                                    <div id="related-portfolio" class="owl-carousel portfolio-carousel">

                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="~/images/ProductColor/7804Teak.png" alt="Open Imagination">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="~/images/ProductColor/7804Teak.png" class="center-icon" data-lightbox="image"><i class="icon-line-ellipsis"></i></a>
                                                        @*<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>*@
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <center> <h3>7804 TEAK </h3></center>
                                                    
                                                    @*<span><a href="#">Media</a>, <a href="#">Icons</a></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="~/images/ProductColor/7805Oak.png" alt="Locked Steel Gate">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="~/images/ProductColor/7805Oak.png" class="center-icon" data-lightbox="image"><i class="icon-line-ellipsis"></i></a>
                                                        @*<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>*@
                                                    </div>
                                                </div>
                                                <div   class="portfolio-desc">
                                                    <center> <h3>7805 OAK </h3></center>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="~/images/ProductColor/7810Palisander.png" alt="Open Imagination">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="~/images/ProductColor/7810Palisander.png" class="center-icon" data-lightbox="image"><i class="icon-line-ellipsis"></i></a>
                                                        @*<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>*@
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <center> <h3>7810 Palisander </h3></center>

                                                    @*<span><a href="#">Media</a>, <a href="#">Icons</a></span>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oc-item">
                                            <div class="iportfolio">
                                                <div class="portfolio-image">
                                                    <a href="portfolio-single.html">
                                                        <img src="~/images/ProductColor/9900Clear.png" alt="Locked Steel Gate">
                                                    </a>
                                                    <div class="portfolio-overlay">
                                                        <a href="~/images/ProductColor/9900Clear.png" class="center-icon" data-lightbox="image"><i class="icon-line-ellipsis"></i></a>
                                                        @*<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>*@
                                                    </div>
                                                </div>
                                                <div class="portfolio-desc">
                                                    <center> <h3>9900 Clear </h3></center>

                                                </div>
                                            </div>
                                        </div>


                                    </div><!-- .portfolio-carousel end -->

                                    <script type="text/javascript">

                                        jQuery(document).ready(function ($) {

                                            var relatedPortfolio = $("#related-portfolio");

                                            relatedPortfolio.owlCarousel({
                                                margin: 30,
                                                nav: false,
                                                autoplay: true,
                                                autoplayHoverPause: true,
                                                responsive: {
                                                    0: { items: 1 },
                                                    480: { items: 2 },
                                                    768: { items: 3 },
                                                    992: { items: 4 }
                                                }
                                            });

                                        });

                                    </script>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

