@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 22";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori22">

    <div class="container clearfix">
        <h1 class="Gori22Header">GORI 22 FIRÇA ILE UYGULANABILIEN EMPRENYE</h1>
        <!--<ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">GORI 22</li>
        </ol>-->
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap" style="padding-top:80px !important">

        <div class="container clearfix">

            <div class="single-product">

                <div class="product">

                    <div class="col_two_fifth">

                        <!-- Product Single - Gallery
                        ============================================= -->
                        <div class="product-image">
                            <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                <div class="flexslider">
                                    <div class="slider-wrap" data-lightbox="gallery">
                                        <div class="slide">
                                            <a href="/images/products/canGori22.jpg" title="GORI 22" data-lightbox="gallery-item">
                                                <img src="/images/products/canGori22.jpg" alt="GORI 22">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Product Single - Gallery End -->

                    </div>

                    <div class="col_two_fifth product-desc">

                        <!-- Product Single - Short Description
                        ============================================= -->
                        <p>
                            GORI 22 Solvent Bazlı Fırça ile uygulanabilen bir emprenye ürünüdür. Önceden herhangi bir işlem görmemiş kerestenizi GORI 22 sayesinde koruma altına alabilirsiniz. GORI 22, haşereler, tahtakurusu, maviküf ve mantarlamaya karşı koruma sağlar. GORI 22 fırça, sprey veya daldırma ile tüm dış cephe ahşaplarında kullanılabilir. Haşereler ve tahtakurusu saldırısına maruz kalmış ahşaplarda da kullanılabilir ve saldırıyı durdurma etkisi vardır. Dış cephe ahşaplar, kapılar, pencereler, çitler, kirişler, paneller ve masif mobilyalar için önerilir.
                        </p>
                        <p style="margin-bottom:10px !important;">Önerilen kullanım alanları:</p>
                        <ul class="iconlist">
                            <li><i class="icon-caret-right"></i> Yapısal ahşap ve paneller</li>
                            <li><i class="icon-caret-right"></i> Kirişler</li>
                            <li><i class="icon-caret-right"></i> Masif mobilyalar</li>
                            <li><i class="icon-caret-right"></i> Kapılar</li>
                            <li><i class="icon-caret-right"></i> Pencereler</li>
                            <li><i class="icon-caret-right"></i> Çatı birleşenleri</li>
                            <li><i class="icon-caret-right"></i> Çitler</li>
                        </ul>
                        <!-- Product Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Paylas:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                        </div><!-- Product Single - Share End -->

                    </div>

                    <div class="col_one_fifth col_last">

                        <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                        <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-map"></i>
                            </div>
                            <h3>Application Areas</h3>
                            <p class="notopmargin">
                                For all types of outdoor wood. e.g. doors, windows, fences, beams, panelling etc.
                            </p>
                        </div>

                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-magic"></i>
                            </div>
                            <h3>Product advantages</h3>
                            <p class="notopmargin">
                                Effective treatment against all dry wood boring insects (capricorn, lyctus, woodworm). Contains insecticide and fungicide. High penetration properties. Solvent based.
                            </p>
                        </div>
                    </div>

                    <div class="col_full nobottommargin">

                        <div class="tabs clearfix nobottommargin" id="tab-1">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Ürün Bilgisi</span></a></li>
                                <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Zemin hazırlığı</span></a></li>
                                <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Renkler</span></a></li>
                                <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> Standartlar</span></a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/fungicide.jpg" class="icon" alt="" width="48" height="50">
                                            Mantar ilacı içerir
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/insecticide.jpg" class="icon" alt="" width="48" height="50">
                                            Böcek ilacı içerir
                                        </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/curative.jpg" class="icon" alt="" width="48" height="50">
                                            3 m<sup>2</sup>/l sarfiyat (3 kat)
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                                            5 m<sup>2</sup>/l tamir amaçlı sarfiyat (2 kat)
                                        </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/DryingTime72.jpg" class="icon" alt="" width="48" height="50">
                                            Kuruma süresi: 72 saat
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/Recoatable1.jpg" class="icon" alt="" width="48" height="50">
                                            Bir sonraki kat: 1 saat
                                        </div>
                                    </div>
                                   <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/CleanTools.jpg" class="icon" alt="" width="48" height="50">
                                            Aletleri tiner ile temizleyiniz
                                        </div>
                                        <div class="col-md-5">
                                            <img src="/images/products/ApplyBy.jpg" class="icon" alt="" width="48" height="50">
                                            Fırça, sprey veya daldırma ile uygulanabilir.
                                        </div>
                                    </div>
                                    <div class="row rowWithBottomMargin">
                                        <div class="col-md-5">
                                            <img src="/images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                                            5.00L – 200.0L Ambalajlarda
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <p>
                                        Kuru, temiz ve tozsuz yüzeyler üzerine uygulayınız. Uygulama öncesi yağ, eski boya veya herhangi dış bir etkenden ahşap arındırılmış olmalıdır. Bu şekilde ahşabın derinlemesine ürünün nufuzunu sağlamış olursunuz. <br />
                                        Uygulama: Kullanıma hazır ürün, kesinlikle inceltmeyiniz. Ahşabın tüm yüzeylerine ve uçlarına uygulayınız.
                                    </p>
                                </div>
                                <div class="tab-content clearfix" id="tabs-3">
                                    <p>
                                        9900 Şeffaf
                                    </p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</section><!-- #content end -->

