@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GORI 44";
}
<!-- Page Title
       ============================================= -->
<section id="page-title" class="Gori44">

    <div class="container clearfix">
        <h1 class="GoriHeader">GORI 44</h1>
        <!--<ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li class="active">GORI 44</li>
        </ol>-->
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="single-product">

                        <div class="product">

                            <div class="col_two_fifth">

                                <!-- Product Single - Gallery
                                    ============================================= -->
                                <div class="product-image">
                                    <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                        <div class="flexslider">
                                            <div class="slider-wrap" data-lightbox="gallery">
                                                <div class="slide">
                                                    <a href="images/products/canGori44.jpg" title="GORI 44" data-lightbox="gallery-item">
                                                        <img src="/images/products/canGori44.jpg" alt="GORI 44">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Product Single - Gallery End -->

                            </div>

                            <div class="col_two_fifth product-desc">

                                <!-- Product Single - Short Description
                                    ============================================= -->
                                <p>
                                    GORI 44 is a solvent based translucent, matt finish wood
                                    protection with surface fungicide properties. GORI 44 is
                                    based on alkyd resins. GORI 44 penetrates deep into
                                    the wood.
                                </p>
                                <p style="margin-bottom:10px !important;">Recommended to use on:</p>
                                <ul class="iconlist">
                                    <li><i class="icon-caret-right"></i> Facades</li>
                                    <li><i class="icon-caret-right"></i> Fascias</li>
                                    <li><i class="icon-caret-right"></i> Pergolas</li>
                                    <li><i class="icon-caret-right"></i> Fences</li>
                                </ul>
                                <!-- Product Single - Meta
                                    ============================================= -->
                                <div class="panel panel-default product-meta">
                                        <div class="panel-body">
                                            Recommended system: 1 x GORI 22 + 2 x GORI 44.
                                        </div>
                                    </div>
                                <!-- Product Single - Meta End -->
                                <!-- Product Single - Share
                                    ============================================= -->
                                <div class="si-share noborder clearfix">
                                    <span>Share:</span>
                                    <div>
                                        <a href="#" class="social-icon si-borderless si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-pinterest">
                                            <i class="icon-pinterest"></i>
                                            <i class="icon-pinterest"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-rss">
                                            <i class="icon-rss"></i>
                                            <i class="icon-rss"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-email3">
                                            <i class="icon-email3"></i>
                                            <i class="icon-email3"></i>
                                        </a>
                                    </div>
                                </div><!-- Product Single - Share End -->

                            </div>

                            <div class="col_one_fifth col_last">

                                <a href="#" title="Brand Logo" class="hidden-xs"><img class="image_fade" src="/images/shop/brand.jpg" alt="Brand Logo"></a>

                                <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

                                <div class="feature-box fbox-plain fbox-dark fbox-small">
                                    <div class="fbox-icon">
                                        <i class="icon-map"></i>
                                    </div>
                                    <h3>Application Areas</h3>
                                    <p class="notopmargin">
                                        Facades and fascias
                                        Beams and panelling
                                        Fences and pergolas
                                        Frames
                                    </p>
                                </div>

                                <div class="feature-box fbox-plain fbox-dark fbox-small">
                                    <div class="fbox-icon">
                                        <i class="icon-magic"></i>
                                    </div>
                                    <h3>Product advantages</h3>
                                    <p class="notopmargin">
                                        Protects against surface alteration agents such as surface fungi and blue stain
                                        High penetration
                                        Water repellent
                                        Will not crack or peel of
                                    </p>
                                </div>
                            </div>

                            <div class="col_full nobottommargin">

                                <div class="tabs clearfix nobottommargin" id="tab-1">

                                    <ul class="tab-nav clearfix">
                                        <li><a href="#tabs-1"><i class="icon-info-sign"></i><span class="hidden-xs"> Product İnformation</span></a></li>
                                        <li><a href="#tabs-2"><i class="icon-align-justify2"></i><span class="hidden-xs"> Substrate preparation:</span></a></li>
                                        <li><a href="#tabs-3"><i class="icon-acrobat"></i><span class="hidden-xs"> Colors</span></a></li>
                                        <li><a href="#tabs-4"><i class="icon-plus"></i><span class="hidden-xs"> More</span></a></li>
                                    </ul>

                                    <div class="tab-container">

                                        <div class="tab-content clearfix" id="tabs-1">
                                            <div class="row rowWithBottomMargin">
                                                <div class="col-md-5">
                                                    <img src="/images/products/fungicide.jpg" class="icon" alt="" width="48" height="50">
                                                    Contains fungicide
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="/images/products/insecticide.jpg" class="icon" alt="" width="48" height="50">
                                                    Contains insecticide
                                                </div>
                                            </div>
                                            <div class="row rowWithBottomMargin">
                                                <div class="col-md-5">
                                                    <img src="/images/products/ExcellentPenetration.jpg" class="icon" alt="" width="48" height="50">
                                                    Excellent penetration
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="/images/products/preventive.jpg" class="icon" alt="" width="48" height="50">
                                                    10-12 m<sup>2</sup>/l
                                                </div>
                                            </div>
                                            <div class="row rowWithBottomMargin">
                                                <div class="col-md-5">
                                                    <img src="/images/products/DryingTime48.jpg" class="icon" alt="" width="48" height="50">
                                                    Drying Time: 48 hours
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="/images/products/Recoatable12-24.jpg" class="icon" alt="" width="48" height="50">
                                                    Recoatable: 12-24 hours
                                                </div>
                                            </div>
                                            <div class="row rowWithBottomMargin">
                                                <div class="col-md-5">
                                                    <img src="/images/products/ApplyByRoller.jpg" class="icon" alt="" width="48" height="50">
                                                    Apply with brush, roller, spray or immersion method.
                                                </div>
                                                <div class="col-md-5">
                                                    <img src="/images/products/CleanTools.jpg" class="icon" alt="" width="48" height="50">
                                                    Clean tools with white spirit
                                                </div>
                                            </div>
                                            <div class="row rowWithBottomMargin">
                                                <div class="col-md-5">
                                                    <img src="/images/products/Sizes.jpg" class="icon" alt="" width="48" height="50">
                                                    Can Sizes: 0.75 L - 2.50 L - 5.00 L - 20.00 L
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-content clearfix" id="tabs-2">
                                            <p>
                                                Apply on dry, clean wood free from dust, fats, old paint, etc. Apply on all sides of the
                                                wood, as well as sections and ends.
                                            </p>
                                        </div>
                                        <div class="tab-content clearfix" id="tabs-3">
                                            <p>
                                                7802 Pine • 7803 Oregon Pine • 7804 Teak • 7805 Oak • 7806 Chestnut<br/>
                                                7809 Redwood • 7810 Palisander • 7814 Antique Oak • 900 Clear<br />
                                                All GORI wood protection products can be tinted in an endless number of shades.<br />
                                            </p>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

